div.Sets {
  display: flex;
  flex-direction: column;
  max-width: 116px;
  min-width: 116px;
  height: 100%;
  border-right: 1px solid rgba(0, 0, 0, 0.5);
  background: var(--mid);

  div.setList {
    overflow: auto;
    flex: 1;
    padding-top: 20px;
  }

  div.userButton {
    display: flex;
    place-items: center;
    place-content: center;
    height: 116px;
    border-top: 1px solid rgba(0, 0, 0, 0.5);

    div {
      position: relative;
      border-radius: 30px;

      img {
        width: 60px;
        height: 60px;
        object-fit: cover;
        background-color: var(--darkest);
        border-radius: 30px;
        cursor: pointer;

        transition: transform 200ms,
          box-shadow 200ms;

        &:hover {
          transform: translateY(-4px);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
        }
      }

      aside {
        position: absolute;
        display: block;
        bottom: -6px;
        right: -6px;
        width: 28px;
        height: 28px;

        background-color: var(--green);
        border-radius: 14px;
        border: 6px solid var(--mid);

        div {
          position: absolute;
          top: -16px;
          left: 8px;
          padding: 4px 8px;
          border-radius: 8px;

          transform: scale(0);
          transform-origin: bottom left;
          transition: transform 150ms ease;

          background-color: var(--accent-light);
          box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);

          pointer-events: none;
          white-space: nowrap;
        }

        &:hover div {
          display: block;
          pointer-events: all;
          transform: scale(1);
        }
      }
    }
  }
}