div.Voice {
  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.1);
    margin-bottom: 24px;
  }

  div.Subset.voice {
    svg {
      margin-right: 8px;
    }
  }

  div.voiceMembers {
    &.inVoiceChat div.member {
      opacity: 1;
    }

    div.member {
      position: relative;
      display: flex;
      place-items: center;
      width: 100%;
      padding: 8px;
      margin-bottom: 8px;
      border-radius: 8px;
      cursor: pointer;
      opacity: 0.75;

      transition: background-color 200ms, opacity 200ms;

      h2 {
        margin: 0;
        font-size: 16px;
        font-weight: 400;
        flex: 1;

        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }

      div {
        flex: 1;
        overflow: hidden;
      }

      >img {
        min-width: 24px;
        min-height: 24px;
        max-width: 24px;
        max-height: 24px;
        object-fit: cover;
        background-color: var(--darkest);
        border-radius: 12px;
        margin-right: 10px;
      }

      &:hover {
        background-color: var(--mid-light);
        opacity: 1;
      }

      &.speaking {
        >img {
          min-width: 30px;
          min-height: 30px;
          max-width: 30px;
          max-height: 30px;
          border-radius: 15px;
          margin: -3px 7px -3px -3px;
          border: 3px solid var(--accent-light);
        }
      }

      div.voiceOptions {
        position: fixed;
        background-color: var(--accent-dark);
        box-shadow: 0 0 32px rgba(0, 0, 0, 0.25);
        border-radius: 8px;
        padding: 8px;
        pointer-events: all;
        z-index: 5;
        cursor: default;

        animation-name: pop-up;
        animation-duration: 250ms;
        animation-timing-function: ease;
        animation-fill-mode: forwards;

        div.volume {
          display: flex;
          place-items: center;

          svg {
            margin-right: 8px;
          }

          input[type=range] {
            appearance: none;
            background: transparent;
            width: 150px;

            &::-webkit-slider-thumb {
              appearance: none;
              margin-top: -4px;
              width: 16px;
              height: 16px;
              border-radius: 8px;
              background-color: var(--accent-light);
              box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);

              &:hover {
                filter: brightness(1.3);
              }
            }

            &::-webkit-slider-runnable-track {
              width: 100%;
              height: 8px;
              background-color: var(--accent-mid);
              border-radius: 4px;
              box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
            }
          }
        }

        div.screenshareControls {
          button {
            margin-top: 8px;
            display: block;
            width: 100%;
            padding: 12px;

            font-family: Inter;
            font-size: 16px;

            outline: none;
            border: 1px solid rgba(255, 255, 255, 0.1);
            border-radius: 4px;

            color: white;
            background-color: var(--accent-dark);

            transition: background-color 200ms;
            cursor: pointer;

            &:hover {
              background-color: var(--accent-mid);
            }
          }
        }
      }
    }
  }

  span.none {
    display: block;
    width: 75%;
    margin: 16px auto 0 auto;
    opacity: 0.5;
    font-size: 14px;
    font-weight: 200;
    text-align: center;
  }
}