div.Message {
  display: flex;
  flex-direction: row;
  max-width: calc(100% - 56px);
  margin-top: 16px;

  >img {
    min-width: 40px;
    min-height: 40px;
    max-width: 40px;
    max-height: 40px;
    object-fit: cover;
    background-color: var(--darkest);
    border-radius: 20px;
    display: inline-block;
    margin: 0 16px 0 0;
    align-self: flex-end;

    transition: transform 200ms, box-shadow 200ms;
  }

  &:not(.typing)>img {
    cursor: pointer;

    &:hover {
      transform: translateY(-4px);
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    }
  }

  div.content {
    display: inline-block;
    background-color: var(--mid-light);
    border-radius: 16px 16px 16px 0;
    overflow: hidden;

    &.pingsMe {
      background: linear-gradient(to bottom right, var(--accent-light), var(--accent-mid)) !important;

      span.ping {
        background-color: var(--accent-light) !important;
      }
    }

    div.attachment {
      display: flex;
      justify-content: flex-end;
      position: relative;

      width: 100%;
      min-width: 400px;
      border-radius: 16px 16px 0 0;
      overflow: hidden;

      img {
        object-fit: cover;
        width: 100%;
        height: 128px;
      }

      div.attachmentInfo {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        display: flex;
        place-items: center;
        place-content: center;
        flex-direction: column;

        background-color: rgba(0, 0, 0, 0.5);
        cursor: pointer;

        transition: background-color 200ms;

        &:hover {
          background-color: rgba(0, 0, 0, 0.7);
        }

        span {
          max-width: 90%;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;

          font-size: 18px;
          font-weight: 200;
          text-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
        }
      }
    }

    div.meta {
      font-size: 12px;
      margin-bottom: 4px;
      padding: 12px 12px 0;
      font-weight: 200;
      opacity: 0.75;

      span.date {
        float: right;
        opacity: 0.5;
        margin-left: 16px;
      }
    }

    div.text {
      padding: 0 12px 12px;
      user-select: text;
      word-break: break-word;

      a {
        color: var(--accent-light);
      }

      span.ping {
        display: inline-block;
        background-color: var(--accent);
        border-radius: 4px;
        font-weight: 200;
        padding: 1px 2px;

        &:not(.invalid) {
          cursor: pointer;
          transition: background-color 150ms;

          &:hover:not(.invalid) {
            background-color: var(--accent-light);
          }
        }

        &.invalid {
          opacity: 0.5;
        }

        >div {
          display: inline-block;
          width: 100px;
          height: 16px;
          background-color: rgba(0, 0, 0, 0.25);
          color: transparent;
          margin: 2px 4px -2px 4px;
          border-radius: 4px;

          animation: placeholder-light 1s linear infinite;
        }
      }

      .inlineLatex {
        display: inline-block !important;

        mjx-container[jax="CHTML"][display="true"] {
          margin: 0 !important;
        }
      }

      mjx-container[jax="CHTML"][display="true"] {
        margin: 16px 0 !important;
      }

      pre,
      code {
        font-family: "Fira Mono";
        background-color: rgba(0, 0, 0, 0.1);
        padding: 2px;
        border-radius: 4px;
      }

      form {
        input {
          font-size: 16px;
          padding: 4px;
          color: white;
          font-family: Inter;
          border-radius: 4px;
          border: 1px solid rgba(255, 255, 255, 0.1);
          background-color: var(--mid);
          max-width: 100%;
          width: 400px;

          &:focus {
            outline: none;
          }
        }

        div {
          font-size: 12px;
          color: rgba(255, 255, 255, 0.5);
          margin: 4px 0 0 2px;

          span {
            color: var(--accent-light);
            cursor: pointer;
          }
        }
      }

      div.TypingIndicator {
        margin: 16px 0 4px 0;

        div.typingDot {
          display: inline-block;
          height: 12px;
          width: 12px;
          margin: 4px 4px 1px 4px;
          opacity: 0.5;
          border-radius: 100%;
          background-color: var(--accent-light);
          animation-name: bounce;
          animation-duration: 1s;
          animation-timing-function: ease;
          animation-iteration-count: infinite;
          transform: translateY(6px);
        }
      }
    }
  }

  div.typingNames {
    display: flex;
    place-items: flex-end;
    opacity: 0.25;
    font-weight: 200;
    margin-left: 16px;
  }

  &.local {
    align-self: flex-end;

    >img {
      order: 2;
      margin: 0 0 0 16px;
    }

    div.content {
      order: 1;
      border-radius: 16px 16px 0 16px;
      background-color: var(--accent-dark);
    }
  }
}

@keyframes bounce {
  0% {
    transform: translateY(6px);
  }

  50% {
    transform: translateY(-6px);
  }

  100% {
    transform: translateY(6px);
  }
}