div.MessageBox {
  position: relative;
  display: flex;
  min-height: 60px;
  background-color: var(--dark-mid);
  border-top: 1px solid rgba(0, 0, 0, 0.5);

  div.attachButton {
    width: 32px;
    height: 32px;
    margin: 14px 0 0 16px;
    display: flex;
    place-items: center;
    place-content: center;
    padding-bottom: 4px;

    font-size: 32px;
    font-weight: 200;
    opacity: 0.5;
    border-radius: 16px;
    background-color: var(--accent);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
    cursor: pointer;

    transition: background-color 150ms, opacity 150ms, transform 150ms;

    &:hover {
      background-color: var(--accent-light);
      transform: translateY(-2px);
      opacity: 1;
    }
  }

  form {
    display: flex;
    place-items: center;
    height: 100%;
    padding: 16px;
    flex: 1;

    div.mentions {
      display: flex;

      div.mention {
        background-color: var(--accent);
        border-radius: 4px;
        font-weight: 200;
        padding: 1px 2px;
        margin-right: 8px;
        cursor: pointer;
        transition: background-color 150ms;

        &:hover {
          background-color: var(--accent-light);
        }
      }
    }

    textarea {
      flex: 1;
      background-color: transparent;
      outline: none;
      border: none;
      color: white;
      font-family: Inter;
      font-size: 16px;
      resize: none;
      line-height: 18px;

      &:focus {
        outline: none;
      }
    }
  }

  div.attachDialog {
    position: absolute;
    display: flex;
    bottom: 60px;
    left: 0;
    height: 48px;
    overflow: hidden;
    border-width: 1px 1px 0 0;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.5);
    border-radius: 0 8px 0 0;
    background-color: var(--mid);

    will-change: height, border-width;
    transition: height 200ms, border-width 200ms;

    &.hidden {
      height: 0px;
      border-width: 0 0 0 0;
    }

    svg {
      margin: 12px 0 12px 12px;
    }

    div.text {
      margin: 13px 16px 13px 12px;

      span:last-child {
        font-weight: 200;
        opacity: 0.8;
        margin-left: 8px;
      }
    }

    div.x {
      display: flex;
      place-items: center;
      place-content: center;
      width: 20px;
      height: 20px;
      border-radius: 10px;
      margin: 14px 12px 12px 0;
      padding-bottom: 2px;
      opacity: 0.5;
      cursor: pointer;

      background-color: var(--accent);

      transition: opacity 150ms;

      &:hover {
        opacity: 1;
      }
    }
  }

  div.pingDialog {
    position: absolute;
    bottom: 72px;
    width: calc(100% - 24px);
    margin: 0 12px;
    padding: 16px;

    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    background-color: var(--mid-light);

    div.title {
      h2 {
        margin: 0;

        span {
          color: var(--accent-light);
        }
      }

      margin-bottom: 16px;
    }

    div.matches {
      div.match {
        display: flex;
        width: 100%;
        padding: 8px;
        margin-bottom: 8px;
        border-radius: 8px;
        cursor: pointer;
        overflow: hidden;

        transition: background-color 150ms;

        h2 {
          margin: 0;
          font-size: 18px;
          font-weight: 400;
          flex: 1;
        }

        div {
          display: flex;
          place-items: center;
          flex: 1;
          overflow: hidden;
        }

        span {
          display: block;
          font-size: 16px;
          font-weight: 200;
          opacity: 0.5;

          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }

        >img {
          min-width: 32px;
          min-height: 32px;
          max-width: 32px;
          max-height: 32px;
          object-fit: cover;
          background-color: var(--darkest);
          border-radius: 16px;
          margin-right: 12px;
        }

        &:hover {
          background-color: rgba(255, 255, 255, 0.05);
        }

        &.highlighted {
          background-color: var(--accent);
        }
      }
    }
  }
}