div.SetIcon {
  display: flex;
  place-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  margin: 8px auto 16px auto;

  font-size: 24px;
  font-weight: 800;
  color: white;
  background-color: var(--accent);
  border-radius: 32px;
  user-select: none;
  cursor: pointer;

  transition: transform 250ms, background-color 250ms;

  &:hover {
    transform: scale(1.1);
    background-color: var(--accent-light);
  }
}