div.Subsets {
  width: 256px;
  box-sizing: border-box;
  border-right: 1px solid rgba(0, 0, 0, 0.5);
  background: var(--dark-mid);

  div.title {
    h1 {
      white-space: nowrap;
      text-overflow: ellipsis;
      font-size: 20px;
      margin: 0;
      pointer-events: none;
    }

    padding: 18px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  }
}