$darkest: #121418;
$dark: #191b21;
$dark-mid: #1b1d24;
$mid: #1d2027;
$mid-light: #22242b;
$accent-dark: #1e293a;
$accent: #293f55;
$accent-mid: #2e6fc5;
$accent-light: #4295ff;

$green: #47ff51;
$yellow: #ffe02b;
$red: #ff6060;