div.App {
  display: flex;
  flex-direction: row;
  height: 100%;
  background-color: var(--dark);
  overflow: hidden;

  div.noSetSelected {
    display: flex;
    flex-direction: column;
    place-items: center;
    place-content: center;
    width: 100%;
  }

  &.offline {
    place-items: center;
    place-content: center;
    flex-direction: column;

    a {
      color: var(--accent-light);
    }

    button {
      padding: 12px;
      margin: 24px 8px;

      font-family: Inter;
      font-size: 16px;

      outline: none;
      border: 1px solid rgba(255, 255, 255, 0.1);
      border-radius: 4px;

      color: white;
      background-color: var(--mid);

      transition: background-color 200ms;

      &:hover {
        background-color: var(--accent-dark);
      }

      cursor: pointer;
    }
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 4px;
}

:hover::-webkit-scrollbar-thumb {
  background-color: var(--accent-dark);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--accent);
}



div.windowButtons {
  position: absolute;
  top: 22px;
  right: 22px;
  z-index: 100;

  display: flex;
  place-items: center;
  justify-content: space-between;

  width: 68px;

  div {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    display: inline-block;

    &:hover {
      filter: brightness(0.8);
    }

    &.close {
      background: var(--red);
    }

    &.minimise {
      background: var(--yellow);
    }

    &.maximise {
      background: var(--green);
    }
  }
}