body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --darkest: #121418;
  --dark: #191b21;
  --dark-mid: #1b1d24;
  --mid: #1d2027;
  --mid-light: #22242b;
  --accent-dark: #1e293a;
  --accent: #293f55;
  --accent-mid: #2e6fc5;
  --accent-light: #4295ff;

  --green: #47ff51;
  --yellow: #ffe02b;
  --red: #ff6060;

  font-family: Inter;
  user-select: none;
  color: white;
}

html,
body,
#root,
.App {
  height: 100%;
}

* {
  box-sizing: border-box;
}

@keyframes placeholder {
  0% {
    background-color: var(--dark);
  }

  50% {
    background-color: var(--mid);
  }

  100% {
    background-color: var(--dark);
  }
}

@keyframes placeholder-light {
  0% {
    background-color: rgba(0, 0, 0, 0.2);
  }

  50% {
    background-color: rgba(0, 0, 0, 0.3);
  }

  100% {
    background-color: rgba(0, 0, 0, 0.2);
  }
}

@keyframes pop-up {
  from {
    transform: scale(0.95) translateY(4px);
    opacity: 0;
  }

  to {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}