div.Messages {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;

  img.limitSize {
    max-width: 70vw;
    max-height: 70vh;
  }

  >div.title {
    h1 {
      white-space: nowrap;
      text-overflow: ellipsis;
      font-size: 20px;
      height: 24px;
      margin: 0;
      pointer-events: none;
    }

    padding: 18px 24px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    background: var(--dark-mid);
  }

  div.messageList {
    display: flex;
    flex-direction: column;
    flex: 1;

    padding: 24px;
    overflow: hidden auto;

    >:first-child {
      margin-top: auto;
    }

    p {
      text-align: center;
      opacity: 0.5;
    }
  }

  div.scrollDownButton {
    position: absolute;
    display: flex;
    place-items: center;
    place-content: center;
    bottom: 78px;
    right: 16px;
    width: 32px;
    height: 32px;
    border-radius: 16px;

    background-color: var(--accent);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    cursor: pointer;

    transition: background-color 150ms;

    &:hover {
      background-color: var(--accent-light);
    }
  }
}