div.SetIcon {
  display: flex;
  place-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  margin: 8px auto 16px auto;

  font-size: 24px;
  font-weight: 800;
  background-color: var(--accent);
  border-radius: 32px;
  cursor: pointer;

  transition: transform 250ms, background-color 250ms, border 250ms;

  &:hover,
  &.selected {
    transform: scale(1.1);
    background-color: var(--accent-light);
  }

  &.selected {
    cursor: default;
  }

  &.add {
    font-size: 48px;
    font-weight: 200;
    padding-bottom: 8px;
    background-color: transparent;
    border: 4px solid var(--accent);

    &:hover {
      border: 4px solid var(--accent-light);
    }
  }
}