div.Subset {
  display: flex;
  place-items: center;
  opacity: 0.5;
  padding: 8px;
  margin-bottom: 12px;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);

  transition: opacity 100ms, background-color 100ms;

  h2 {
    font-size: 16px;
    font-weight: 400;
    margin: 0;

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  &.unread {
    position: relative;
    opacity: 1;

    &::after {
      display: block;
      content: "";
      position: absolute;
      top: -4px;
      right: -4px;
      width: 16px;
      height: 16px;
      border-radius: 8px;
      background-color: var(--red);
    }
  }

  &:not(.voice)::before {
    content: "ζ";
    font-size: 20px;
    margin-right: 8px;
  }

  &.add {
    opacity: 0.25;
    border: none;

    &::before {
      content: "+";
      font-size: 20px;
      margin-right: 8px;
    }

    &:hover {
      opacity: 0.5;
      background-color: transparent;
    }
  }

  &:hover {
    opacity: 0.75;
    background-color: var(--accent-dark);
  }

  &.selected {
    background-color: var(--accent);
    opacity: 1;
    cursor: default;
  }
}