div.Subset {
  display: flex;
  place-items: center;
  padding: 8px;
  margin-bottom: 12px;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.5);

  transition: background-color 100ms, color 100ms, border 100ms;

  h2 {
    font-size: 16px;
    font-weight: 400;
    margin: 0;

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  &.unread {
    position: relative;
    opacity: 1;

    &::after {
      display: block;
      content: "";
      position: absolute;
      top: -4px;
      right: -4px;
      width: 16px;
      height: 16px;
      border-radius: 8px;
      background-color: var(--red);
    }
  }

  &:not(.voice)::before {
    content: "ζ";
    font-size: 20px;
    margin-right: 8px;
  }

  &.add {
    border: none;
    color: rgba(255, 255, 255, 0.25);

    &::before {
      content: "+";
      font-size: 20px;
      margin-right: 8px;
    }

    &:hover {
      background-color: transparent;
      border: none;
      color: rgba(255, 255, 255, 0.5);
    }
  }

  &:hover {
    background-color: var(--accent-dark);
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.8);
  }

  &.selected {
    background-color: var(--accent);
    color: white;
    cursor: default;
  }
}