div.Subsets {
  display: flex;
  flex-direction: column;
  width: 256px;
  box-sizing: border-box;
  border-right: 1px solid rgba(0, 0, 0, 0.5);
  background: var(--dark-mid);

  div.title {
    display: flex;
    padding: 18px 24px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    background: var(--mid);

    h1 {
      flex: 1;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-size: 20px;
      height: 24px;
      margin: 0;
      pointer-events: none;
    }

    svg {
      cursor: pointer;
      opacity: 0.2;
      transition: opacity 200ms, transform 200ms;

      &:hover {
        opacity: 1;
        transform: scale(1.05) translateY(-2px);
      }
    }
  }

  div.setList {
    padding: 24px;
    overflow: hidden auto;
    flex: 1;
  }

  div.Modal>div>form {
    input[type="text"] {
      padding-left: 36px;
    }

    >div {
      position: absolute;
      top: calc(50% - 6px);
      left: calc(50% - 112px);
    }
  }
}