div.UserInfo {
  position: relative;
  width: 400px;
  margin-top: 64px;
  padding-top: 92px !important;

  div.editButton,
  div.logoutButton {
    position: absolute;
    top: 16px;
    padding: 8px 12px;

    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    background-color: var(--mid);

    cursor: pointer;

    transition: background-color 150ms;

    &:hover {
      background-color: var(--accent-dark);
    }

    &.editButton {
      right: 16px;
    }

    &.logoutButton {
      left: 16px;
    }
  }

  input {
    width: 100% !important;
    font-weight: 800;
    font-size: 24px !important;
    text-align: center;
  }

  textarea {
    width: 100% !important;
    height: 100px;
    margin-top: 16px;
    resize: none;
  }

  img {
    width: 128px;
    height: 128px;
    object-fit: cover;
    background-color: var(--darkest);
    border-radius: 64px;
    border: 1px solid rgba(255, 255, 255, 0.5);

    position: absolute;
    top: -64px;
    left: calc(50% - 64px);
  }

  &.editing {
    img {
      transition: filter 200ms;
      cursor: pointer;

      &:hover {
        filter: brightness(0.5) contrast(1.1);
      }
    }
  }

  h1 {
    margin: 0 0 4px 0 !important;
  }

  span {
    opacity: 0.5;
    font-weight: 200;
  }

  h2 {
    margin: 24px 0 8px 0;
  }

  .placeholder {
    animation: placeholder 1s infinite;
    color: transparent;
  }

  p.placeholder {
    width: max-content;
  }
}